{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}

<!-- This is a comment, as required -->
<h1>Pictures from Southeast Asia</h1>
<p>
    I've been very fortunate over the course of my life. I have had opportunities
    to travel all over Southeast Asia. Here are some of the picture I have taken.
</p>
    <h2>Malaysia</h2>
        <h3>Kuala Lumpur</h3>
        <h3>Penang</h3>
    <h2>Singapore</h2>
    <h2>Vietnam</h2>

<!-- TODO: Improve the time formatting -->
    Current time: {{ now }}

{% endblock %}

