{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<div class = "container">
    <h1>Singapore</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo voluptatum, corporis adipisci id magnam, soluta ea numquam, minus itaque in recusandae laboriosam iusto placeat quae. Reprehenderit quaerat vel dolor dolore.
    </p>

    <ul>
        <li><a href = {{ url_for('static', filename='img/IMG_20130921_172246.jpg') }}>Pic1</a></li>
        <li><a href = {{ url_for('static', filename='img/IMG_20140208_130655-edited_1.jpg') }}>Pic2</a></li>
        <li><a href = {{ url_for('static', filename='img/IMG_20140209_184627.jpg') }}>Pic3</a></li>
    
    </ul>

    More about Singapore <a href = "https://en.wikipedia.org/wiki/Singapore">here</a>.
</div>
{% endblock %}