{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container">

    <h1>Change password</h1>

    <form action="#" method="post">
        <p><label for="old_password">Old password:</label></p>
        <p><input type="password" name="old_password"></p>
        
        <p><label for="new_password1">New password:</label></p>
        <p><input type="password" name="new_password1"></p>

        <p><label for="new_password2">New password:</label></p>
        <p><input type="password" name="new_password2"></p>

        <p>Password must be at least 12 characters in length, and include at least 1 uppercase character, 1 lowercase character, 1 number and 1 special character.</p>

        <p><input type="submit" class="submit" value="Submit"></p>
    </form>

</div>

{% endblock %}